<div class="container">
    <h1>Dashboard</h1>
    <div class="d-flex flex-column">
        <ng-container [ngTemplateOutlet]="searchFormTemplate"></ng-container>
    </div>
    <div class="d-flex flex-column">
        <ng-container [ngTemplateOutlet]="resultsTemplate" [ngTemplateOutletContext]="{ $implicit: personSearchResult.value()?.personList }"></ng-container>
    </div>

    <ng-template #searchFormTemplate>
        <form [formGroup]="searchCriteriaForm" (ngSubmit)="onSearch()">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" class="form-control">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </ng-template>

    <ng-template #resultsTemplate let-personList>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email:</th>
                </tr>
            </thead>
            <tbody>
                @for (person of personList; track person.id) {
                <tr>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.city }}</td>
                </tr>
                }
            </tbody>
        </table>
    </ng-template>
</div>