<div class="container">
    <h1>Details</h1>
    <div class="card">
        <div class="card-body">
            <ng-container [ngTemplateOutlet]="personDetailsTemplate" [ngTemplateOutletContext]="{ $implicit: personDetails.value() }"></ng-container>
        </div>
    </div>
</div>

<ng-template #personDetailsTemplate let-details>
    <div><em>First name:</em> <strong>{{ details.firstName }}</strong></div>
    <div><em>Last name:</em> <strong>{{ details.lastName }}</strong></div>

</ng-template>